.store{
    border: 1px solid #e6e6e6;
}
.store-title{
    border-bottom: 1px dotted #ddd;
    margin: 25px 15px 15px;
    padding-bottom: 25px;
    font-size: 18px;
    font-family: '微软雅黑';
    font-weight: bold;
}
.store-title-mt{
    font-size: 14px;
    padding-bottom: 10px;
    color: #666;
}
.store-tab{
    padding-left: 15px;
}
.store-tab a{
    color: #5d5d5d;
    background: #eee;
    position: relative;
    display: block;
    float: left;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px 15px 0;
    font-size: 12px;
}
.store-tab .active{
    color: #fff;
    background: #e10000;
}
.store-tab .active span{
    display: block;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -4px;
    width: 0;
    border-top: 5px solid #e10000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.store-null{
    width: 360px;
    padding: 70px 0;
    margin: 0 auto;
    line-height: 20px;
    color: #333;
    font-family: '微软雅黑'
}
.store-null img{
    display: inline-block;
    float: left;
    margin-right: 35px;
}
.store-list{
    clear: both;
}
.store-item{
    clear: both;
}
.store-i-head{
    background: #f7f7f7;
}
.store-i-head td{
    border-top: 1px solid #ddd;
}
.store-item td{
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
}
.store-item dt{
    float: left;
    width: 110px;
    margin: 0 25px 0 5px;
}
.store-item dd{
    float: left;
    width: 350px;
}
.store-action a,
.store-item a{
    color: #0066cc;
    font-size: 12px;
}
.store-item em{
    color: #999;
}
.store-item img{
    width: 106px;
    height: 83px;
}
.store-item strong{
    color: #e73333;
    font-size: 16px;
}
.store-hot{
    margin: 7px 0;
}
.goods-state{
    color: #333;
    text-align: center;
}
.store-cart{
    display: block;
    background: url(../images/mammon-icon.png) -7px -246px;
    width: 70px;
    color: #fff;
    margin-bottom: 5px;
    padding-left: 30px;
    height: 25px;
    cursor: pointer;
    line-height: 25px;
}
.store-action{
    background: #f5f5f5;
    background: -moz-linear-gradient(top,#fefefe,#efefef);
    background: -webkit-linear-gradient(top,#fefefe,#efefef);
    background: -ms-linear-gradient(top,#fefefe,#efefef);
    background: -o-linear-gradient(top,#fefefe,#efefef);
    padding: 6px 15px;
}
.store-action-t{
    background: url(../images/store-action-t-bg.png) repeat-x 0 3px;
    border-top: 1px solid #e6e6e6;
}
.store-action td{
}
.store-action .store-cart{
    margin-bottom: 0;
}
.account-money{
    border-bottom: 1px dotted #ddd;
    padding: 25px 0;
    font-size: 14px;
    margin: 0 15px 15px;
    color: #5d5d5d;
}
.account-money strong{
    color: #e10000;
    font-size: 16px;
}
.account-money a{

}
.account-page{
    color: #5d5d5d;
}
.account-page-num{
    color: #ff6600;
    font-weight: bold;
}
.account-page-next,
.account-page-prev{
    display: inline-block;
    border: 1px solid #8d8d8d;
    border-radius: 4px;
    background: #f2f2f2;
    background: -moz-linear-gradient(top,#f7f7f7,#ececec);
    background: -webkit-linear-gradient(top,#f7f7f7,#ececec);
    background: -ms-linear-gradient(top,#f7f7f7,#ececec);
    background: -o-linear-gradient(top,#f7f7f7,#ececec);
    color: #8d8d8d;
    cursor: pointer;
    padding: 3px 9px;
}
.account-page-next em,
.account-page-prev em{
    display: inline-block;
    width: 0;
    border-right: 5px solid #8d8d8d;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    float: left;
    margin: 3px 5px 0 0;
}
.account-page-next em{
    border-right: 0;
    margin: 3px 0 0 5px;
    border-left: 5px solid #8d8d8d;
    float: right;
}
.account-page-input{
    width: 30px;
    height: 20px;
    padding: 0 4px;
    background: #fff;
    border: 1px solid #dcdcdc;
    box-sizing: content-box;
    margin: 0 4px;
}
.account-page .btn-ct{
    color: #fff;
}

.shop-list{
    border-bottom: 1px solid #e6e6e6;
    height: 295px;
}
.shop-logo{
    border-right: 1px solid #e6e6e6;
    position: absolute;
    width: 105px;
    padding: 25px 30px 0;
    height: 270px;
}
.shop-logo input{
    position: absolute;
    top: 15px;
    left: 15px;
}
.shop-canel,
.shop-login{
    background: url(../images/mammon-icon.png) -8px -221px;
    padding-left: 30px;
    display: block;
    font-size: 12px;
    color: #fff;
    line-height: 22px;
    height: 22px;
    margin-bottom: 5px;
}
.shop-canel{
    background-position: -7px -275px;
    color: #5d5d5d;
}
.shop-canel em,
.shop-login em{
    display: inline-block;
    float: right;
    width: 20px;
    height: 22px;
    background: url(../images/mammon-icon.png) -133px -221px;
}
.shop-canel em{
    background-position: -134px -275px;
}
.shop-logo span{
    display: inline-block;
    margin-bottom: 15px;
}
.shop-logo img{
    margin: 0 0 60px 13px;
}
.shop-logo a{
    margin-left: 0;
}
.shop-l-content{
    margin: 0 0 0 165px;
}
.shop-l-c-item{
    padding: 35px 0 0 52px;
    line-height: 20px;
    width: 110px;
    float: left;
    color: #5d5d5d;
}
.shop-l-c-item p{
    text-align: center;
    margin: 10px 0 10px 0;
}
.shop-l-c-item strong{
    color: #ff4400;
}
.shop-l-c-item em{
    color: #6c6c6c;
    text-decoration: line-through;
}
.shop-l-c-item span{
    display: block;
    min-height: 40px;
}
.shop-l-c-item a{
    background: #e10000;
    font-size: 12px;
    margin-left: 20px;
    display: inline-block;
    padding: 4px 11px;
    color: #fff;
}
.shop-like{
    border: 1px solid #e6e6e6;
    border-top: 2px solid #999;
    margin-top: 35px;
    height: auto;
    overflow: hidden;
}
.shop-like h1{
    font-size: 14px;
    font-weight: bold;
    color: #666;
    padding: 15px 0 0 10px;
}
.shop-like-next,
.shop-like-prev{
    width: 30px;
    height: 50px;
    background: url(../images/mammon-icon.png) -732px -68px;
    display: inline-block;
    float: left;
    margin: 35px 0 0;
}
.shop-like-prev{
    background-position: -767px -68px;
}
.shop-l-c{
    margin-top: 35px;
}
.shop-l-item{
    /*width: 960px;*/
    float: left;
    height: 225px;
    overflow: hidden;
}
.shop-l-item li{
    width: 130px;
    height: 190px;
    float: left;
    /*margin: 0 15px 35px;*/
    margin-left: 15px;
    line-height: 20px;
}
.shop-l-item a{
    display: block;
    min-height: 40px;
}
.shop-l-item span{
    color: #e52222;
    font-weight: bold;
}
.account-like{
    border-top: 2px solid #999;
    margin-top: 30px;
}
.account-l-list,
.account-like{
    height: auto;
    overflow: hidden;
    position: relative;
}
.account-like strong{
    color: #666;
    font-size: 14px;
    display: inline-block;
    margin: 15px 0 0 15px;
}
.open-shop{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 12px;
}
.account-l-list{
    border: 1px solid #f3f2f1;
    margin: 25px 13px;
}
.account-l-l-item{
    float: left;
    padding: 20px 0 25px;
    width: 140px;
    text-align: center;
    color: #999;
    height: 75px;
    border: 1px dotted #f3f2f1;
    border-width: 0 1px 1px 0;
    line-height: 22px;
}
.account-l-l-item span{
    color: #666;
}

/*我的收货地址*/
.add-count{
    color: #999;
    border: 1px solid #ddd;
}
.add-count h1{
    font-size: 18px;
    font-family: '微软雅黑';
    color: #333;
    font-weight: bold;
    margin: 18px 0 20px 16px;
}
.add-msg em,
.account-cust-faq a,
.add-site a{
    color: #5d5d5d;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    background: #e0f2ff;
    border: 1px solid #add6ff;
    font-size: 12px;
    margin: 0 15px 15px 16px;
    padding: 5px 15px;
}
.add-site span{
    color: red;
}
.add-name{
    background: #f5f5f5;
    border: 1px solid #e6e6e6;
    border-width: 1px 0;
    padding: 8px 16px;
    color: #5d5d5d;
    font-weight: bold;
    font-size: 14px;
}
.add-msg{
    padding: 10px 0;
    line-height: 24px;
    position: relative;
}
.add-msg dt{
    color: #333;
    width: 680px;
    min-height: 130px;
    border-right: 1px dotted #e5e5e5;
}
.add-msg span{
    display: inline-block;
    color: #5d5d5d;
    width: 75px;
    text-align: right;
}
.add-msg dd{
    position: absolute;
    right: 105px;
    top: 45px;
    text-align: center;
}
.add-msg em{
    font-weight: normal;
    padding: 2px 15px;
    margin-bottom: 5px;
}
.add-msg a{
    font-size: 12px;
    color: #005ea7;
}

/*新增收货地址 */
.account-add-site{
    padding: 35px 0 0 30px;
}
.account-add-site span{
    color: red;
    padding-right: 5px;
    display: inline-block;
    margin-bottom: 7px;
}
.account-add-site li{
    margin-bottom: 13px;
}
.account-add-site em{
    color: #e10000;
    padding-left: 10px;
}
.account-add-site a{
    display: inline-block;
    background: #e10000;
    color: #fff;
    padding: 7px 20px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 12px;
}
.account-add-site input[type='text']{
    border: 1px solid #ccc;
    width: 235px;
    padding: 4px;
}


/*订单中心*/
.account-order{
}
.account-crumbs{
    margin: 32px 0;
    color: #5d5d5d;
    position: relative;
}
.account-crumbs strong{
    font-size: 18px;
    font-family: '微软雅黑';
    color: #333;
}
.account-crumbs span{
    display: inline-block;
    padding: 0 0 0 10px;
}
.account-crumbs a{
    font-size: 12px;
    color: #5d5d5d;
    padding: 0 8px;
}
.account-o-state{
    background: #fff7eb;
    border: 1px solid #f58b0f;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #5d5d5d;
    font-weight: bold;
}
.account-o-track p{
    background: #f5f5f5;
    border-bottom: 1px solid #d0d0d0;
    padding: 7px 12px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.account-o-track{
    border: 1px solid #d0d0d0;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}
.account-o-t-item{
    margin: 0 13px;
}
.account-o-t-item td{
    padding: 2px 0;
}
.account-o-t-head td{
    border-bottom: 1px solid #d0d0d0;
    padding: 4px 0;
    font-weight: bold;
}
.payment-way{
    margin: 15px 15px 0;
    border-bottom: 1px solid #ededed;
    line-height: 24px;
    padding-bottom: 10px;
    position: relative;
}
.account-send-goods{
    position: absolute;
    left: 600px;
    top: -7px;
    border-left: 1px dotted #ddd;
    padding: 5px 0 0 10px;
    height: 110px;
}
.payment-way strong{
    display: inline-block;
    margin-bottom: 5px;
}
.account-g-item{
    margin-top: 10px;
}
.account-g-item td{
    border-bottom: 1px dotted #ddd;
}
.account-g-item img{
    margin: 0 10px;
    border: 1px solid #ececec;
    float: left;
}
.account-g-item a{
    color: #0066cc;
    display: inline-block;
    padding-top: 5px;
    font-size: 12px;
}
.account-goods{
    margin: 20px 13px 0;
}
.account-goods td{
    padding: 8px 0;
}
.account-g-money{
    background: #f5f5f5;
    border-top: 1px solid #e6e6e6;
    margin: 25px 0 -15px 0;
    padding: 20px 50px 30px 0;
    text-align: right;
    line-height: 26px;
    color: #5d5d5d;
}
.account-g-money em{
    color: red;
}
.account-again-buy{
    width: 63px;
    height: 21px;
    margin-top: 5px;
    cursor: pointer;
    line-height: 21px;
    padding-left: 10px;
    color: #999;
    display: block;
    background: url(../images/mammon-icon.png) -7px -302px;
}

/*我的订单*/
.my-order-search{
    position: relative;
    padding: 20px 0 10px 20px;
}
.my-order-search em{
    display: inline-block;
    background: url(../images/mammon-icon.png) -445px -29px;
    width: 10px;
    height: 10px;
}
.my-order-search .my-order-open{
    background-position: -445px -7px;
}
.my-order-search span{
    cursor: pointer;
}
.my-order-box div{
    position: absolute;
    width: 320px;
    height: 260px;
    background: #fff;
    z-index: 99;
    left: 0;
    top: 36px;
    color: #999;
}
.my-order-box i{
    display: inline-block;
    width: 27px;
    height: 20px;
    background: url(../images/mammon-icon.png) -681px -75px;
    position: absolute;
    left: 35px;
    top: 7px;
    z-index: 9;
}
.my-order-box li{
    border-bottom: 1px solid #f3f3f3;
    margin: 0 10px;
    padding: 7px 0;
}
.my-order-box a{
    font-size: 12px;
    color: #005ea7;
    padding: 0 5px;
}
.my-o-s-input{
    width: 205px;
    height: 24px;
    line-height: 24px;
    font-family: tahoma;
    border: 1px solid #ccc;
    padding: 0 5px;
    float: left;
    margin-right: 5px;
    color: #999;
}
.my-order-search p{
    position: absolute;
    right: 15px;
    top: 25px;
}
.my-o-s-go{
    display: inline-block;
    border: 1px solid #ccc;
    background: #f9f9f9;
    width: 58px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    margin-right: 5px;
    background: -moz-linear-gradient(top,#fefefe,#f0f0f0);
    background: -webkit-linear-gradient(top,#fefefe,#f0f0f0);
    background: -ms-linear-gradient(top,#fefefe,#f0f0f0);
    background: -o-linear-gradient(top,#fefefe,#f0f0f0);
}
.my-order-search span{
    color: #414141;
    font-size: 14px;
    font-weight: bold;
}
.my-order-head td{
    padding: 8px 0;
}
.my-order .account-g-item{
    margin-top: 0;
}
.my-order .account-g-item td{
    border-right: 1px solid #f5f5f5;
    border-bottom-style: solid;
    padding: 10px 0;
    color: #5d5d5d;
}
.my-order .account-g-item tr td:last-child{
    border-right: 0;
}
.my-order-payment{
    color: #ff8a15;
    font-weight: bold;
}
.my-order .my-order-check{
    background: -moz-linear-gradient(top,#e64244,#e03336);
    background: -webkit-linear-gradient(top,#e64244,#e03336);
    background: -ms-linear-gradient(top,#e64244,#e03336);
    background: -o-linear-gradient(top,#e64244,#e03336);
    padding: 4px 0;
    width: 60px;
    text-align: center;
    color: #fff;
}

/*返修退换货*/
.account-repair{
    color: #ab99bc;
}
.account-repair-record td,
.account-repair td{
    border: 1px solid #f2f2f2;
    border-width: 0 1px 1px 0;
    padding: 10px 0 0;
}
.account-repair-record td{
    padding: 10px 0;
    line-height: 18px;
}
.account-repair-record a{
    font-size: 12px;
    color: #005ea7;
}
.account-repair-item{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.account-repair-item li{
    float: left;
    width: 50px;
    margin-left: 17px;
}
.account-repair-item a{
    display: inline-block;
    background: #e0f2ff;
    border: 1px solid #add6ff;
    width: 50px;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
    margin: 5px 0 10px;
}
.account-repair-item .not{
    background: #f2f2f2;
    cursor: default;
    border-color: #d3d0d0;
}
.account-order-num{
    color: #005ea7;
    display: inline-block;
    font-size: 12px;
}
.account-repair-head td{
    padding: 14px 0;
}
.account-repair-faq a{
    color: #005ea7;
    font-size: 12px;
}
.account-repair-faq{
    color: #5d5d5d;
    padding: 25px 10px 15px;
    border: 1px solid #d9d9d9;
    margin-top: 20px;
}
.account-repair-faq h6{
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}
.account-repair-faq p{
    margin-bottom: 10px;
}

/*售后服务单详情*/
.account-cust{
    border: 1px solid #d9d9d9;
    padding: 20px 10px 15px;
    color: #5d5d5d;
    margin-bottom: 17px;
}
.account-cust-title{
    font-family: "微软雅黑";
	font-size: 14px;
    font-weight: bold;
    color: #666;
}
.account-cust-num{
    border: 1px solid #f58b0f;
    background: #fff7eb;
    color: #5d5d5d;
    padding: 15px 10px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 14px;
}
.account-cust-msg{
    border-collapse: collapse;
    margin-top: 25px;
}
.account-cust-msg td{
    border: 1px solid #f2f2f2;
    padding: 10px 20px;
}
.account-cust-rate{
    height: auto;
    overflow: hidden;
    padding: 40px 0 0 225px;
    margin-bottom: 35px;
}
.account-c-r-step{
    float: left;
    width: 119px;
    position: relative;
    background: url(../images/account-c-r-step1.png) no-repeat 54px 21px;
}
.account-c-r-step span{
    background-image: url(../images/mammon-icon.png);
    width: 39px;
    padding-left: 25px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}
.account-c-r-step strong{
    display: block;
    margin-top: 20px;
}
.o{
    background-position: -5px -432px;
}
.account-c-r-step4{
    background-image: url(../images/account-c-r-step2.png);
}
.account-c-r-step3{
    background-image: url(../images/account-c-r-step3.png);
}
.account-cust-faq a{
    font-weight: normal;
    margin-right: 0;
}
.account-c-r-stepok1,
.account-c-r-stepok{
    background: none;
}
.account-c-r-stepok span{
    background-position: -8px -488px;
}
.account-c-r-stepok1 span{
    background-position: -9px -663px;
}
.account-c-r-step3 span{
    background-position: -9px -382px;
}
.account-c-r-step4 span{
    background-position: -9px -332px;
}
.account-c-r-step5 span{
    background-position: -8px -601px;
}
.account-c-r-step6 span{
    background-position: -8px -545px;
}

/*个人中心*/
.usercenter {
    margin-top: 30px;
}

.leftnav {
    width: 138px;
    height: px;
    padding: 6px;
    border: 1px solid #ddd;
    line-height: 24px;
}

.leftnav h2 {
    height: 24px;
    border-bottom: 1px solid #eeeeee;
    font-weight: bold;
}

.leftnav ul {
    padding-bottom: 10px;
}

.leftnav li {
    margin: 10px 0 0 6px;
}

.leftnav li a {
    display: block;
    width: 118px;
    height: 26px;
    line-height: 26px;
    color: #666;
    font-size: 12px;
    padding-left: 10px;
}

.leftnav li a:hover, .leftnav .hover {
    color: #e10000;
    font-weight: bold;
    background-color: #eeeeee;
}

.user-info {
    width: 1025px;
}

.user-hello {
    position: relative;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    font-family: "微软雅黑";
    padding: 17px 70px;
    border: 1px solid #ddd;
}

.user-hello a {
    position: absolute;
    top: 17px;
    left: 15px;
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url(../images/user-img.png) no-repeat;
}

.myorder {
    margin-top: 12px;
    border: 1px solid #ddd;
    padding: 10px 15px;
}

.myorder-tit {
    height: 25px;
    line-height: 25px;
}

.myorder-tit b {
    font-size: 14px;
    font-family: "微软雅黑";
}

.myorder-tit .mes-a {
    margin-left: 24px;
}

.myorder-tit .mes-a a {
    margin-right: 18px;
    color: #999;
}

.myorder-tit .mes-a a em {
    color: #e10000;
}

.all {
    float: right;
    text-align: right;
    color: #999;
}

.user-tab {
    margin-top: 20px;
    text-align: center;
    color: #5d5d5d;
}

.productimg {
    width: 50px;
    height: 50px;
    text-align: left;
}

.productimg img {
    width: 50px;
    height: 50px;
    border: 1px solid #e1e1e1;
}

.productintro {
    width: 352px;
    overflow: hidden;
    text-align: left;
}

.productintro a {
    display: inline-block;
    width: 312px;
    line-height: 22px;
    color: #5d5d5d;
}

.pay-onl {
    color: #333;
}

.pay-time {
    width: 100px;
    color: #999;
}

.pay-sta {
    color: #ff8a15;
    font-weight: bold;
}

.check-ord {
    color: #005ea7;
}

/*我收藏的商品*/
.mylike {
    margin-top: 15px;
    height: 266px;
    border: 1px solid #ddd;
    padding: 15px;
}

.mylike h2, .mylike-shop h2 {
    font-size: 14px;
    font-family: "微软雅黑";
    color: #666666;
    line-height: 30px;
    margin-bottom: 20px;
}

.mylike ul {
    margin: 0 20px;
}

.mylike ul li {
    width: 145px;
    height: 250px;
    margin: 0 22px;
    float: left;
}

.img-collect {
    display: block;
    width: 145px;
    height: 145px;
}

.img-collect img {
    width: 145px;
    height: 145px;
}

.mylike ul li .ll {
    display: inline-block;
    width: 130px;
    text-align: center;
    margin: 5px 0;
}

.mylike ul li .ll a {
    display: inline-block;
    font-size: 12px;
    color: #666666;
    line-height: 20px;
    text-align: left;
}

.mylike ul li .ll .red {
    font-size: 14px;
    color: #e10000;
    font-family: "Arial";
    margin-bottom: 20px;
    line-height: 28px;
    text-align: left;
}

.mylike img:hover {
    background-color: #FFF;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.mylike-shop {
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px 15px 25px 15px;
}

.mylike-shop ul {
    width: 988px;
    height: 250px;
    border: 1px solid #f3f2f1;
}

.mylike-shop ul li {
    float: left;
    width: 140px;
    height: 100px;
    border-bottom: 1px dashed #f3f2f1;
    border-right: 1px dashed #f3f2f1;
    text-align: center;
    line-height: 22px;
    padding-top: 25px;
}

.shopimg {
    display: block;
    width: 90px;
    height: 32px;
    margin: 0 auto;
}

.shopimg img {
    width: 90px;
    height: 32px;
}

.mylike-shop ul li p {
    margin-top: 12px;
}

.mylike-shop .noborder-r {
    border-right: 0;
}

.mylike-shop .noborder-b {
    border-bottom: 0;
}

/*修改密码*/
.upd-psd {
    border: 1px solid #e6e6e6;
    padding: 15px 20px;
}

.upd-psd h2 {
    font-size:18px;
    font-family: "微软雅黑";
    color: #333;
    line-height: 30px;
	font-weight:bold;
}

.step {
    padding: 30px 0;
    width: 627px;
    margin: 0 auto;
}

.step ul {
    margin-top: 15px;
}

.step ul li {
    float: left;
    width: 209px;
    text-align: center;
}

.fore {
    color: #5d5d5d;
}

.fore-h {
    color: #7abd54;
    font-weight: bold;
}

.form-psd {
    width: 782px;
    line-height: 25px;
    margin-top: 20px;
}

.btm-dh {
    width: 882px;
    border-bottom: 1px dashed #ccc;
}

.item-psd {
    height: 40px;
    margin-bottom: 10px;
}

.item-psd .label {
    width: 200px;
    font-size: 12px;
    color: #666;
    margin-right: 8px;
    text-align: right;
}

.item-psd .label em {
    color: #e10000;
    margin-right: 5px;
}
.item-psd .label2 {
    color: #666;
    font-size: 12px;
    margin-right: 8px;
    text-align: right;
    width: 70px;
}
.number-psd{
    color:#666;
}
.number-psd strong {
    font-size: 16px;
    margin-right: 10px;
}
.number-psd #updatePWD {
    width: 100px;
    height: 30px;
    line-height: 20px;
    border: none;
    padding: 2px 10px;
    cursor:pointer;
}
.number-psd i {
    font-family:"Arial";
    color: #0066cc;
}

.getnum {
    display: block;
    text-align: center;
    width: 109px;
    height: 25px;
    border: 1px solid #ababab;
    background-color: #efefef;
    color: #5d5d5d;
    font-size: 12px;
}

.number-psd input {
    width: 163px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #aaa;
    padding: 2px 10px;
}

.code-img a {
    color: #0066cc;
}

.submit {
    font-family: "微软雅黑";
    display: block;
    text-align: center;
    width: 87px;
    height: 29px;
    line-height: 29px;
    border: 1px solid #e16f0b;
    background-color: #f39916;
    color: #fff;
}
.form-psd0 {
    line-height: 25px;
    margin: 20px 50px;
}
.form-psd2 {
    margin-top: 50px;
}

.form-psd2 p {
    width: 300px;
    margin: 0 auto;
    padding-left: 50px;
    font-size: 22px;
    font-family: "微软雅黑";
    color: #429800;
    background: url(../images/btn-bgs.png) no-repeat;
    background-position: 0 -135px;
}

.form-psd2 a {
    margin: 20px auto;
}

.number-psd2 select {
    width: 245px;
    height: 27px;
}

.number-psd2 input {
    width: 225px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #aaa;
    padding: 2px 10px;
}

.cau-info {
    width: 430px;
    height: 400px;
    border-left: 1px dashed #ddd;
    padding-left: 40px;
    color: #666;
}

.cau-info p {
    margin-bottom: 50px;
    color: #999;
}

.cau-info em {
    color: #0066cc;
    font-family: "Arial";
}

.cau-info p b {
    color: #e10000;
    font-family: "";
    font-size: 14px;
}

/*我的消息*/
.mymsg {
    border: 1px solid #e6e6e6;
}

.mymsg h2 {
    font-size: 18px;
    font-family: "微软雅黑";
    color: #333;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-weight: bold;
}

.msg-tab {
    line-height: 20px;
}

.msg-tab th {
    height: 34px;
    border-top: 1px solid #ddd;
    background-color: #fafafa;
}

.msg-tab td {
    border-top: 1px solid #ddd;
    height: 40px;
    vertical-align: top;
    padding: 20px 0;
}

.msg-tab .msg-chk0, .msg-tab .msg-chk {
    width: 60px;
}

.msg-tab .msg-chk0 input {
    margin: 0 5px 0 10px;
}

.msg-tab .msg-chk input {
    margin: 0 5px 0 13px;
}

.msg-time {
    width: 180px;
    text-align: center;
}

.msg-the {
    line-height: 25px;
}

.msg-the b {
    display: inline-block;
    margin: 3px 8px 0 0;
    width: 15px;
    height: 13px;
    background: url(../images/btn-bgs.png) no-repeat;
    background-position: 0 -200px;
}

.msg-p {
    padding-right: 5px;
}

.msg-cont {
    width: 943px;
    border: 1px solid #e1e1e1;
    background-color: #f7f7f7;
    margin: 15px;
    padding: 10px 25px;
    overflow: hidden;
}

.msg-cont h3 {
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.msg-texta {
    width: 940px;
    height: 112px;
    overflow: hidden;
}

.sendbtn {
    float: right;
    display: block;
    margin: 10px 0;
    width: 102px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: url(../images/btn-bgs.png) no-repeat;
    background-position: 0 -166px;
}

.sendbtn:hover {
    color: #fff;
}

.msg-cont .date {
    position: relative;
    margin: 20px 0;
    border-bottom: 1px dashed #e6e6e6;
}

.msg-cont .date b {
    position: absolute;
    top: -5px;
    left: 50%;
    display: inline-block;
    width: 90px;
    text-align: center;
    font-weight: 100;
    color: #999;
    z-index: 999;
    background-color: #fafafa;
}

.msg-user img {
    width: 45px;
    height: 45px;
}

.msg-box {
    position: relative;
    width: 712px;
    height: 43px;
    line-height: 43px;
    padding-left: 10px;
    border: 1px solid #999;
    margin-left: 30px;
}

.msg-box2 {
    position: relative;
    width: 712px;
    height: 43px;
    line-height: 43px;
    padding-left: 10px;
    border: 1px solid #999;
    margin-right: 30px;
}

.msg-box b {
    position: absolute;
    top: 14px;
    left: -8px;
    display: inline-block;
    width: 8px;
    height: 15px;
    background: url(../images/arr-icon.png) no-repeat;
    background-position: 0 0;
}

.msg-box2 b {
    position: absolute;
    top: 14px;
    right: -8px;
    display: inline-block;
    width: 8px;
    height: 15px;
    background: url(../images/arr-icon.png) no-repeat;
    background-position: -8px 0;
}

.msg-a {
    text-align: right;
    margin-top: 50px;
}

.msg-a a {
    color: #5d5d5d;
}

.msg-a a:hover {
    color: #e10000;
}

.msg-a span {
    margin: 0 8px;
}

/*申请修退换详细页*/
.salerule {
    border: 1px solid #e6e6e6;
}

.salerule h3 {
    font-size: 14px;
    color: #666;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    font-weight: bold;
    font-family: "微软雅黑";
}

.salerule-tab {
    line-height: 20px;
    border-top: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    color: #5d5d5d;
}

.salerule-tab th {
    height: 54px;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    background-color: #f2f7ff;
    font-weight: 100;
}

.salerule-tab td {
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    height: 34px;
    text-align: center;
}

.salerule-tab .noborder-r {
    border-right: 0;
}

.salerule-tab .noborder-b {
    border-bottom: 0;
}

.wdh {
    width: 115px;
    padding: 0 20px;
}

.wdh2 {
    width: 150px;
    padding: 0 20px;
}

.salerule p {
    line-height: 24px;
    padding: 0 0 30px 20px;
}

.goods-tab {
    margin: 20px 0;
    line-height: 20px;
    border: 1px solid #d9d9d9;
}

.goods-tab th {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #f5f5f5;
    font-weight: 100;
}

.goods-tab td {
    border-right: 1px solid #f1f1f1;
    height: 50px;
    text-align: center;
    overflow: hidden;
    padding: 10px;
}

.goods-tab .noborder-r {
    border-right: 0;
}

.goods-tab .goods-img {
    text-align: left;
}

.goods-img img {
    vertical-align: top;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
}

.goods-img span {
    display: inline-block;
    width: 300px;
    overflow: hidden;
    margin-left: 10px;
    text-align: left;
    color: #005ea7;
}

.goods-tab .give {
    width: 150px;
    margin: 0 auto;
    padding-left: 35px;
    text-align: left;
}

.detailed {
}

.form-dtl {
    padding: 15px 0;
}

.form-dtl strong {
    display: inline-block;
    width: 130px;
    text-align: right;
    font-weight: 100;
}

.form-dtl .tit {
    vertical-align: top;
}

.form-dtl strong em {
    color: #e10000;
    margin-right: 5px;
}

.form-dtl span label {
    margin: 0 10px;
}

.form-dtl span {
    margin-left: 5px;
}

.add {
    display: inline-block;
    width: 15px;
    height: 15px;
    height: 15px;
    border: 1px solid #cccccc;
    text-align: center;
    margin-right: 5px;
}

.num-dtl {
    width: 30px;
    height: 20px;
    border: 1px solid #cccccc;
    text-align: center;
}

.substract {
    display: inline-block;
    width: 15px;
    height: 15px;
    height: 15px;
    border: 1px solid #cccccc;
    text-align: center;
    margin-left: 5px;
}

.dtl-texta {
    width: 720px;
    height: 100px;
}

.form-dtl span i {
    color: #999999;
    margin-right: 5px;
}

.form-dtl div {
    padding-bottom: 20px;
}

.form-dtl select {
    width: 100px;
    margin-right: 5px;
}

.adres-txt {
    width: 410px;
    height: 23px;
    line-height: 27px;
}

.name-txt {
    width: 160px;
    height: 23px;
    line-height: 27px;
}

.applybtn {
    display: inline-block;
    width: 67px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #add6ff;
    text-align: center;
    background-color: #e0f2ff;
    color: #5d5d5d;
}

/*绑定邮箱*/
.form-email{
    width:943px;
    height:100px;
    padding:30px 20px;
    border:1px solid #edd28b;
    background-color:#fffdee;}
.form-email .sended{
    color:#429800;
    font-family: "微软雅黑";
    font-size:20px;
}
.form-email .email-num{
    font-family: "Arial";
    font-size:18px;
    margin:0 10px;
}
.form-email em{
    color:#e10000;
    font-family: "微软雅黑";
    font-size:14px;
}
.form-email p{
    color:#666;
    font-size:12px;
    line-height:24px;
    margin:10px 0;
}
.go-email{
    display:inline-block;
    width:100px;
    height:22px;
    line-height:22px;
    color:#fff;
    text-align:center;
    background: url(../images/btn-bgs.png) no-repeat;
    background-position: 0 -213px;
}
.no-email{
    margin-top:15px;
    width:943px;
    height:100px;
    padding:30px 20px;
    border:1px solid #d9d9d9;
    color:#666;
}
.no-email h3{
    padding-bottom:20px;
    font-weight:bold;
}
.no-email p{
    line-height:24px;
}
.resend{
    display:inline-block;
    width:98px;
    height:25px;
    line-height:25px;
    color:#5d5d5d;
    text-align:center;
    margin-left:10px;
    background: url(../images/btn-bgs.png) no-repeat;
    background-position: 0 -235px;

}

/*设置密码保护*/
.w418{
    width:418px;
}

/*资金总览*/
.openbtn{
    display:inline-block;
    width:58px;
    height:22px;
    line-height:22px;
    color:#fff;
    text-align:center;
    margin-left:10px;
    background: url(../images/btn-bgs.png) no-repeat;
    background-position:-100px -213px;

}

.acc-p{
    margin-bottom:20px;
    padding-left:25px;
}
.btm-dh2{
    width:990px;
    border-bottom: 1px dashed #ccc;
}
.funds-lst{
    line-height:28px;
    padding-bottom:20px;
}
.funds-lst li span{
    display:inline-block;
    width:120px;
    color:#666;
    font-size:12px;
    text-align:right;
}
.funds-lst li em,.integral li em{
    color:#e10000;
    font-size:16px;
    font-family:"微软雅黑";
}

/*积分购买*/
.integral{
    width:940px;
    border-top: 1px dashed #ccc;
    margin:0 15px;
    padding:30px 25px;
    color:#666;

}
.integral ul li{
    line-height:28px;
    margin:10px 0;
}
.inte-txt{
    width:135px;
    height:20px;
    line-height:20px;
    border:1px solid #cccccc;
    padding:4px 10px;
    margin-right:10px;
}
.integral .gray{
    color:#999;
}
.integral .blue{
    color:#005ea7;
}
.pay-box{
    padding:20px 25px;
    width:890px;
    height:56px;
    border:1px solid #a3d1ec;
    background-color:#eefaff;
    margin-top:20px;
}
.pay-box label{
    margin:0 36px 0 12px;
}
.pay-box s{
    text-decoration:none;
}

/*代金券*/
.account-voucher{
    border: 1px solid #d9d9d9;
    height: auto;
    overflow: hidden;
}
.account-voucher-exch{
    background: #f5f5f5;
    padding: 20px 60px;
    margin: 0 15px 10px;
    border-bottom: 1px dotted #ddd;
    line-height: 40px;
    color: #5d5d5d;
}
.account-voucher-exch strong{
    color: #e10000;
    font-size: 16px;
}
.account-voucher-exch span{
    color: #e10000;
    font-size: 14px;
}
.account-voucher-exch select{
    border: 1px solid #ccc;
    width: 150px;
    padding: 2px 0;
}
.account-voucher-msg{
    margin: 20px 0;
}
.account-voucher-msg h6{
    margin-bottom: 15px;
}
.account-voucher-msg{
    background: #f5f5f5;
    padding: 15px 20px;
    /*margin: 0 15px;*/
}
.account-voucher-msg strong{
    color: #e10000;
    font-size: 14px;
    font-family: '微软雅黑';
}
.account-voucher-effect{
    height: 147px;
    position: relative;
    height: 155px;
    margin-top: 20px;
    padding-left: 15px;
}
.account-voucher-effect li{
    width: 73px;
    float: left;
    text-align: center;
    margin-right: 45px;
}
.turn-lntegral,
.turn-voucher,
.turn-money,
.payment-order,
.buy-voucher{
    display: inline-block;
    width: 73px;
    height: 74px;
    background: url(../images/mammon-icon.png) -594px -73px;
    margin-top: 10px;
}
.payment-order{
    background-position: -510px -73px;
}
.turn-money{
    background-position: -424px -73px;
}
.turn-voucher{
    background-position: -336px -73px;
}
.turn-lntegral{
    background-position: -249px -73px;
}
.account-lntegral-search{
    position: absolute;
    right: 30px;
    top: 160px;
}
.account-lntegral-search select{
    width: 205px;
    border: 1px solid #ccc;
    color: #999;
}
.account-safety-item{
    padding: 30px 20px 20px;
    border-top: 1px solid #e6e6e6;
    height: auto;
    overflow: hidden;
}
.account-s-i-left{
    width: 215px;
    height: 37px;
    line-height: 37px;
    display: block;
    float: left;
    border-right: 1px solid #e6e6e6;
}
.account-s-i-msg{
    height: 60px;
    margin: -10px 0 0 255px;
    vertical-align: middle;
    color: #666;
    line-height: 20px;
}
.account-s-i-msg td{
    height: 60px;
}
.account-safety-item strong{
    font-size: 20px;
    color: #333;
}
.account-safety-warn,
.account-safety-ok{
    display: inline-block;
    float: left;
    margin-right: 40px;
    width: 38px;
    height: 37px;
    background: url(../images/mammon-icon.png) -100px -329px;
}
.account-safety-warn{
    background-position: -100px -373px;;
}
.account-safety-faq{
    line-height: 24px;
    padding-top: 25px;
}
.account-safety-faq a{
    display: inline-block;
    width: 425px;
}
.account-safety-score{
    margin: 23px 15px 20px;
    font-weight: bold;
    color: #666;
}
.account-safety-score span{
    color: #e10000;
}
.account-safety-score em{
    display: inline-block;
    width: 106px;
    height: 14px;
    background: url(../images/mammon-icon.png) -100px -418px;
    position: absolute;
}
.account-safety-score2 em{
    background-position: -100px -433px;
}
.account-safety-score3 em{
    background-position: -100px -448px;
}
.account-safety-score4 em{
    background-position: -100px -463px;
}
.account-safety-score5 em{
    background-position: -100px -478px;
}

/*暂用公共*/


.eval-tab{
	text-align:center;
}

.eval-tab th{
	height:32px;
	line-height:32px;
	background-color:#e7e7e7;
	font-weight:100;
	color:#333;
}

.eval-tab td{
	padding:20px;
}

.productintro {
    width: 352px;
    overflow: hidden;
    text-align: left;
}

.productintro a {
    display: inline-block;
    width: 312px;
    line-height: 22px;
    color: #5d5d5d;
}

.eval-box{
	position:relative;
	width:870px;
	height:auto;
	border:1px solid #d0e4c2;
	background-color:#fcfffa;
	margin:0 auto;
	padding: 10px 60px 0 40px;
	margin-bottom:20px;
}

.box-top{
	position:absolute;
	top:-15px;
	right:125px;
	width:25px;
	height:15px;
    background: url(../images/box-t.png) no-repeat;
	}

.eval-box ul{
}

.eval-box li{
	line-height:32px;
	margin-bottom:20px;
}

.eval-box li em{
	color:#e10000;
}

.eval-box li span{
	color:#000;
}

.eval-spn{
	display:block;
	width:68px;
}

.goods-d-level{
    padding: 5px 0 0 0;
}

.serve-l-red{
    width: 14px;
    height: 17px;
    display: inline-block;
    background: url(../images/mammon-icon.png) -780px -7px ;
}

.serve-l-ash{
    background-position: -760px -7px;
}

.chk-gray{
	position:relative;
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
	padding:0 9px 0 28px;
	margin-right:5px;
	border:1px solid #ccc;
	}

.chk-gray b{
	position:absolute;
	top:9px;
	left:9px;
    display: inline-block;
    width:13px;
    height: 13px;
    background: url(../images/chk-gray.png) no-repeat;
	}

.chk-red{
	position:relative;
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
	padding:0 9px 0 28px;
	margin-right:5px;
	border:2px solid #e10000;
	}

.chk-red b{
	position:absolute;
	top:9px;
	left:9px;
    display: inline-block;
    width:13px;
    height: 13px;
    background: url(../images/chk-red.png) no-repeat;
	}

.eval-texta textarea{
    color: #000;
    font-size: 12px;
	width:765px;
	height:100px;
    padding: 3px 5px 0 5px;
	line-height:24px;
    font-family: '宋体';
}

.agreement-btn-y{
	display: inline-block;
	width:89px;
	height:31px;
	line-height:31px;
	color:#fff;
    font-size: 12px;
    font-family: "微软雅黑";
	font-weight:bold;
    background: url(../images/cart-icons.png) 0 -44px;
	text-align:center;
}
.mer-eval {
    margin-top:22px;
    border:1px solid #d9d9d9;
    padding:25px 17px;
    color:#666;
}
.mer-eval1 {
	border:1px solid #d9d9d9;
    border-bottom: 0;
	padding: 25px 15px 25px 16px;
	color:#666;
    background: #fff;
    position: absolute;
    top: 0;
    left: -1px;
}

.mer-eval h2{
    font-size: 14px;
	color:#666;
	font-weight:bold;
	padding: 0 25px 0 0;
}
.mer-eval1 h2{
    height: 15px;
    line-height: 15px;
    margin-bottom: 25px;
}
.mer-eval h2 em{
	color:#c7c7c7;
}

.mer-eval-cont{
	width:990px;
	height:195px;
	border:1px solid #e9eaec;
	}

.mer-eval-cont-l{
	position:relative;
	width:380px;
	height:165px;
	padding:30px 0 0 20px;
	background-color:#f5f5f5;
	}


.box-right{
	position:absolute;
	top:81px;
	right:-16px;
	width:16px;
	height:32px;
    background: url(../images/box-r.png) no-repeat;
	}

.mer-eval-cont-ul{
	margin-left:20px;
	line-height:24px;
	color:#666;
	}

.mer-eval-cont-ul span{
	display:inline-block;
	width:60px;
	color:#333;
	}

.mer-eval-cont-ul2{
	margin:30px 0 0 80px;
	line-height:24px;
	color:#000;
	}

.eval-btn{
	display: inline-block;
	width:60px;
	height:24px;
	line-height:24px;
	color:#333;
    font-size: 12px;
    font-family: "微软雅黑";
    background: url(../images/cart-icons.png) 0 -137px;
	text-align:center;
	}

.eval-intro{
	line-height:24px;
	color:#666;
}

/*我的订单-商品评-评价完成*/
.getintegral{
	color:#999;
	line-height:24px;
}