<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingfugo.business.dao.GoodsStockHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.xingfugo.business.module.GoodsStockHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="change_amount" property="changeAmount" jdbcType="INTEGER" />
    <result column="change_type" property="changeType" jdbcType="BIT" />
    <result column="before_change" property="beforeChange" jdbcType="INTEGER" />
    <result column="after_change" property="afterChange" jdbcType="INTEGER" />
    <result column="change_reason" property="changeReason" jdbcType="SMALLINT" />
    <result column="change_desc" property="changeDesc" jdbcType="VARCHAR" />
    <result column="change_time" property="changeTime" jdbcType="TIMESTAMP" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, goods_id, change_amount, change_type, before_change, after_change, change_reason, 
    change_desc, change_time, order_no
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goodsstockhistory
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPage" resultMap="BaseResultMap" 
  	parameterType="com.xingfugo.business.module.query.GoodsStockHistoryQueryForm" >
    select 
    <include refid="Base_Column_List" />
    from goodsstockhistory
    where goods_id = #{goodsId,jdbcType=INTEGER}
    order by change_time desc
  </select>
  
  <insert id="insert" parameterType="com.xingfugo.business.module.GoodsStockHistory" >
    insert into goodsstockhistory (goods_id, change_amount, 
      change_type, before_change, after_change, 
      change_reason, change_desc, change_time, 
      order_no)
    values (#{goodsId,jdbcType=INTEGER}, #{changeAmount,jdbcType=INTEGER}, 
      #{changeType,jdbcType=BIT}, #{beforeChange,jdbcType=INTEGER}, #{afterChange,jdbcType=INTEGER}, 
      #{changeReason,jdbcType=SMALLINT}, #{changeDesc,jdbcType=VARCHAR}, now(), 
      #{orderNo,jdbcType=VARCHAR})
  </insert>
  
  <insert id="batchInsert">
  	INSERT INTO goodsstockhistory(goods_id, change_amount, change_type, before_change, after_change, change_reason, change_desc, change_time, order_no)
	<foreach collection="list" item="item" index="index" separator="union all">
		SELECT goods_id, ABS(#{item.changeAmount}), #{item.changeType}, now_stock
			, now_stock + #{item.changeAmount}, #{item.changeReason}
			, #{item.changeDesc}, now(), #{item.orderNo}
		FROM goods
		WHERE goods_id = ${item.goodsId}
	</foreach>
  </insert>

</mapper>