/*清零样式*/
* { margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-style: normal; font-weight:normal; line-height:normal; padding:0; margin:0;}
ul,ol,li {list-style: none;}
em,i { font-style: normal;}
img { border: none;}
input,img { vertical-align: middle;}
body { color: #000; font-family:"微软雅黑"; background: #FFF; font-size:12px; min-width:320px; height: auto;}
a{ font-size:14px; color:#333; text-decoration:none}
a:hover{ color:#c70003;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after { display: block; content: ''; clear: both; visibility: hidden;}
.none { display: none;
}
.no-spacing { margin: 0; padding: 0;}
.margin-center { margin: 0 auto; text-align: center;}
.center { text-align: center;}
.margin-auto { margin: 0 auto;}
input:focus {
    outline:none;
}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*去掉苹果的默认UI来渲染按钮*/}

/*公共样式*/
.comWdh{ width:320px; min-width:320px; min-height:100%; margin:0 auto; overflow:hidden;}
.w480{ width:100%; height:100%; min-width:320px; min-height:100%; margin:0 auto; overflow:hidden;}
.content{ min-width:320px;}

.full-img { width: 100%; height: auto!important; overflow:hidden;}
.full-div { width: 100%; height: auto!important;}
.hidden{ overflow:hidden;}

.position{ height:26px; line-height:26px; padding:0 10px; background:#eaedf4; border-bottom:2px solid #c80000;}
.position a{ font-size:14px; color:#505050;}
.position a:hover{ color:#c80000;}

.mt5{ margin:0 5px;}
.mg-t5{ margin-top:5px;}
.tbl-type{ width:100%; display:table;}
.w33{ width:33.3%;}
.tbl-cell{ display:table-cell;}
.w50{ width:50%;}

/*头部*/
.top{ margin:10px 0;}	
.top_a a{ display:inline-block; width:51px; height:20px; line-height:20px; font-family:"微软雅黑"; font-size:12px; color:#fff; text-align:left; padding-left:10px;}
.loc{ background:url(../images/loc.png) no-repeat; margin-left:10px;}
.upl{ background:url(../images/upl.png) no-repeat;}

.top-span{ color:#ccc;}
.top-span a{ color:#000; text-decoration:underline; width: auto; padding:0 5px;}

.logo_m{width:129px; height:45px; margin-bottom:20px;}

.shop-top{ display:block; width:240px; margin:10px auto;}	
.shop-logo{ width:138px; height:104px; margin-bottom:20px;}
.shop-name{ height:25px;}
.shop-name label{ float:left; width:60px; height:25px; background:url(../images/shop-logo-m.png) no-repeat;}
.shop-name span{ float:left; max-width:193px; height:25px; line-height:25px; white-space:nowrap; margin-left:10px; font-size:14px;}

.search2{ margin:15px 5px;}
.box_search2{ width:85%; height:30px; border:1px solid #ccc; border-radius:10px; position: relative;}
.box_search2 span{ display:inline-block; width:45px; height:18px; line-height:12px; margin:6px 0 0 8px; border-right:1px solid #ccc; } 
.box_search2 .sear_t2{ width:90%; height:18px; line-height:18px; margin:6px 0 0 8px; border:none; color:#656e77; font-family:"微软雅黑"; font-size:12px;}
.box_search2 .sear_btn{ display:inline-block; width:19px; height:18px; position: absolute; top:5px; right:6px; background:none; border:none; cursor:pointer;}
.shop-collect{ width:32px; height:32px; background:url(../images/collect1.png) no-repeat; cursor:pointer;}
.msg-dialog-box{ width:220px; padding:10px; position:fixed; top:40%; left:50%; margin-left:-120px; background-color:#000; color:#fff; text-align:center; box-shadow:#000 0 0 2px 2px; border-radius:4px; transition:all linear .4s;}
.box-hide{ opacity:0;}


/*底部*/
.footer{ height:141px; border:1px solid #e0e0e0; background:#eaedf4;}
.footer_btn{ padding:10px; font-size:14px; color: #666e79;}
.footer .user-info { -webkit-box-flex: 1; display: -webkit-box; text-align: left; }
.footer .user-info span:nth-child(2) { display: inline-block; margin:0 10px;}
.footer .user-info a { color: #666e79; font-size:14px; font-family:"微软雅黑";}
.footer .gotop { }
.footer .gotop a { color:#666e79; font-size:14px; font-family:"微软雅黑"; position: relative; padding-left:10px; display: inline-block;}

.copyright{ line-height:40px; color: #666e79; font-size:14px; font-family:"黑体"; text-align:center;}
.footer_nav{ text-align:center;}
.footer_nav a{ padding:0 16px; font-size:14px; font-weight:bold; color:#666e79;}
.footer_nav .hover_footer{ color:#b0b4bd;}

/*搜索*/
.search{ margin:0 10px;}
.box_search{ width:100%; height:30px; margin:15px 0; border:1px solid #ccc; border-radius:10px; position: relative;}
.box_search span{ display:inline-block; width:45px; height:18px; line-height:12px; margin:6px 0 0 8px; border-right:1px solid #ccc; }

.box_search .sear_cls{ display:inline-block; width:40px; height:18px; line-height:18px; border:none; background:none; text-align:left; font-family:"微软雅黑"; font-size:12px; cursor:pointer;}
.box_search .sear_cls b{ position: relative; top:12px; left:5px; width: 0px; height: 0px; border:5px transparent solid;
 border-top-color: #868a93;}
 
.box_search .sear_t{ width:90%; height:18px; line-height:18px; margin:6px 0 0 8px; border:none; color:#656e77; font-family:"微软雅黑"; font-size:12px;}
.box_search .sear_btn{ display:inline-block; width:19px; height:18px; position: absolute; top:5px; right:6px; background:none; border:none; cursor:pointer;}


/*首页*/
.banner{ }
.banner img{ width:100%; height:auto; max-width:640px; max-height:240px;  min-width:320px; min-height:132px;}
	/*public scroll*/
.relative{position:relative;left:0;top:0;}
.scroll{}
.scroll_box{overflow:hidden;visibility:hidden;position:relative;}
.scroll_wrap{overflow:hidden; position:relative;}
.scroll_wrap li{position:relative;display:block;width:100%;float:left;}
.scroll_wrap li a{display:block;margin:0 auto;position:relative;}
.scroll_position{position:absolute; left:40%; z-index:400px; bottom:5px;}
.scroll_position li{display:inline-block;width:8px;height:8px;border-radius:10px;background:#fff;}
.scroll_position li a{font-size:0;}
.scroll_position li.on{background-color:#d84c4c;}


.collect{ position: relative; padding:120px 0; }
.collectimg1{ position:absolute; top:0; left:0; z-index:999; max-width:121px; max-height:150px; min-width:121px; min-height:150px;}
.collectimg1 img{ max-width:121px; max-height:150px; min-width:121px; min-height:150px; }
.collectimg2{ position:absolute; bottom:0; left:0; z-index:999; max-width:236px; max-height:229px; min-width:118px; min-height:114px;}
.collectimg2 img{ max-width:236px; max-height:229px; min-width:118px; min-height:114px; }
.collect ul{ width:300px; padding-top:0px; margin:0 auto;}
.collect ul li{ float:left; margin-left:20px; margin-bottom:20px;}
.collect ul li a{ display: inline-block; width:130px; height:130px;background-color:#e6d6d4;}
.collect ul li img{ margin:26px 0 10px 0; max-width:62px; max-height:46px; min-width:40px; min-height:29px; }
.collect ul li p{ color:#8a3c30; font-size:20px; font-family:"微软雅黑";}

/*名品拍卖*/
.sale_cont{ margin-top:10px;}
.sale_cont li{ border-bottom:1px solid #dcdcdc; margin-bottom:5px; padding-bottom:5px;}
.sale_cont li:last-child{ border-bottom:0;}
.sale_img a{ display:block; margin-right:10px; overflow:hidden;}
.sale_img img{ width:119px; height:74px; border:1px solid #ccc;}
.sale_dec{ line-height:20px; font-family:"微软雅黑"; font-size:11px; color:#666e79;}
.sale_dec h4{ margin-bottom:8px;}
.sale_dec h4 a{ font-size:14px; font-family:"微软雅黑"; color:#505050;}
.sale_dec em{ font-size:11px; color:#c80000;}
.auction-pro{ padding:0 10px 10px 10px;}
.scroll_wrap2{overflow:hidden; position:relative; padding:20px;}
.scroll_wrap2 li{position:relative;display:block;width:100%;float:left;}
.scroll_wrap2 li a{display:block;margin:0 auto;position:relative;}
.scroll_position{position:absolute; left:40%; z-index:400px; bottom:20px;}
.scroll_position li{display:inline-block;width:8px;height:8px;border-radius:10px;background:#b2b2b2;}
.scroll_position li a{font-size:0;}
.scroll_position li.on{background-color:#c80000;}

.auction-tit{ text-align:center; font-size:18px; font-family:"微软雅黑"; color:#505050; padding-bottom:20px;}
.auction-cont{ background-color:#fff; padding:10px;}
.auction-cont h2{ padding-bottom:10px; border-bottom:1px solid #d3d3d3; line-height:31px;}
.auction-sta{ padding-left:10px; font-size:14px; font-family:"微软雅黑"; color:#666e79;}
.auction-sta em{ font-size:16px; color:#00990b; }
.packbtn{ position:relative; display:inline-block; width:65px; padding-left:15px; height:31px; color:#fff; background-color:#c80000; text-align:left;}
.packbtn:hover{ color:#fff;}
.packbtn b{ position:absolute; top:12px; right:5px; display:inline-block; width:14px; height:5px; background:url(../images/top.png) no-repeat;}
.auction-ul{ padding:10px; line-height:24px; font-size:14px; font-family:"微软雅黑"; color:#505050; border-bottom:1px solid #d3d3d3;}
.auction-ul span{ color:#666e79;}
.auction-ul em,.auction-tab em{ color:#c80000;}
.auction-ul p{ text-indent:24px;}
.auction-tab{ width:100%; text-align:center; font-size:14px; font-family:"微软雅黑";color:#505050; }
.auction-tab th{ font-size:16px; color:#666e79;}


/*交易追溯*/
.trade-chk{ height:75px; background-color:#efefef;}
.w280{ width:280px; margin:0 auto; padding:20px 0;}
.trade-chk .txt{ width:200px; height:25px; line-height:25px; border:1px solid #ccc; padding:4px; margin-right:10px;}
.trade-chk .chk-a{ vertical-align:middle; display:inline-block; width:60px; height:28px; line-height:28px; font-size:14px; color:#fff; text-align:center; background-color:#c80000; border-radius:4px;}
.trade-list{ background-color:#fff; margin-bottom:10px;}
.trade-list h4{ padding-left:10px; height:40px; line-height:40px; border-top:1px solid #d3d3d3;}
.trade-list h4 a{ font-family:"微软雅黑"; font-size:18px; color:#505050;}
.trade-info{ height:40px; padding:20px; border:1px solid #d3d3d3; border-left:0; border-right:0; text-align:center; color:#666e79; font-size:14px; line-height:24px;}
.trade-info li{ position:relative; }
.trade-info li:last-child{ border-right:0;}
.trade-span{ position:absolute; right:0; top:10px;}
	/*弹出框*/
.box_info{ margin:0 auto; background:#fff;}
.edit{ margin:0 auto; display:inline-block; width:100px; height:40px; line-height:40px; text-align:center; color:#fff; background:#C80000; border-radius:4px; cursor:pointer; font-family:"微软雅黑"; font-size:16px;}
.edit:hover{ color:#fff;}
.info_cont{ padding:50px 0; text-align:center;}
.info_cont p{ font-family:"微软雅黑"; font-size:18px; line-height:24px; color:#505050; margin:20px 0;}
.info_cont h2{ font-family:"微软雅黑"; font-size:18px; line-height:24px; color:#505050;}
.pop-txt input{ display:block; width:180px; height:50px; margin:20px auto;}
.close{ display:inline-block; margin:0 15px; width:100px; height:40px; line-height:40px; text-align:center; color:#fff; background:#C80000; border-radius:4px; cursor:pointer; font-family:"微软雅黑"; font-size:16px;}
.close:hover{ color:#fff;}

/*版权登记*/
.copyright-reg{background-color:#efefef;}
.copyright-lst{ border-bottom:1px solid #d3d3d3;}
.w300{ width:300px; margin:0 auto; padding:20px 0;}
.copyright-lst span{ display:inline-block; width:80px; text-align:right; color:#666e79; font-size:16px; vertical-align:top; padding-top:5px;}
.copyright-lst .txt{ width:205px; height:25px; line-height:25px; border:1px solid #ccc; padding:4px; margin-left:5px;}
.copyright-lst .texta{ width:205px; height:100px; line-height:25px; border:1px solid #ccc; padding:4px; margin-left:5px;}
.copyright-lst .txt2{ width:135px; height:25px; line-height:25px; border:1px solid #ccc; padding:4px; margin:0 5px;}
.copyright-lst .chk-a{ vertical-align:middle; display:inline-block; width:60px; height:28px; line-height:28px; font-size:14px; color:#fff; text-align:center; background-color:#c80000; border-radius:4px;}
.copyright-lst .file{ font-family:"微软雅黑"; font-size:14px; color:#666e79;}
.file-li{ margin-top:10px;}
.copyright-lst .file img{ margin:0 5px 0 10px;}
.copyright-lst .del{ float:right; display:inline-block; color:#c4c4c4;}
.copyright-lst .del img{ margin-left:5px;}
.submit{ text-align:center;}
.submit a{ display:inline-block; width:150px; height:40px; line-height:40px; font-size:20px; color:#fff; text-align:center; background-color:#c80000; border-radius:4px;}

/*版权防伪*/
.copyright-lst .sel,.sel{ width:210px; height:35px; line-height:35px; border:1px solid #ccc; padding:4px; margin-left:5px;}
.imgs img{ margin:0 5px; border:1px solid #ddd;}

/*名品定制*/
.customized{ background-color:#efefef; padding-bottom:10px;}
.customized ul{ padding:10px 10px 10px 0;}
.customized ul li{ text-align:center; padding-left:10px;}
.prof-img{ max-width:198px; max-height:198px; min-width:132px; min-height:132px;}
.prof-img img{ max-width:198px; max-height:198px; min-width:132px; min-height:132px; border:1px solid #ccc;}
.prof-dec{ line-height:24px; font-family:"微软雅黑"; font-size:18px; color:#666e79;}
.prof-dec h4{ color:#505050; margin:5px 0}

.copyright-lst h4{ color:#666e79; font-size:16px; margin-left:5px; line-height:30px; }
.copyright-lst h4 em{ color:#c80000;}
