<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingfugo.business.terminal.dao.ShopConfigMapper" >
  <resultMap id="BaseResultMap" type="com.xingfugo.business.terminal.module.ShopConfig" >
    <id column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="cust_id" property="custId" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_logo" property="shopLogo" jdbcType="VARCHAR" />
    <result column="shop_site" property="shopSite" jdbcType="VARCHAR" />
    <result column="busi_range" property="busiRange" jdbcType="VARCHAR" />
    <result column="busi_mode" property="busiMode" jdbcType="CHAR" />
    <result column="contant_man" property="contantMan" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="msn" property="msn" jdbcType="VARCHAR" />
    <result column="alliwang" property="alliwang" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="area_attr" property="areaAttr" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="is_close" property="isClose" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="in_date" property="inDate" jdbcType="TIMESTAMP" />
    <result column="banner_image" property="bannerImage" jdbcType="VARCHAR" />
    <result column="adv_image" property="advImage" jdbcType="VARCHAR" />
    <result column="start_area" property="startArea" jdbcType="VARCHAR" />
    <result column="ship_type" property="shipType" jdbcType="CHAR" />
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="com.xingfugo.business.terminal.module.ShopConfigWithBLOBs" extends="BaseResultMap" >
    <result column="shop_intro" property="shopIntro" jdbcType="LONGVARCHAR" />
    <result column="reach_area" property="reachArea" jdbcType="LONGVARCHAR" />
  </resultMap>

  <resultMap id="UpdateResultMap" type="com.xingfugo.business.terminal.module.UpdateShopConfig" extends="ResultMapWithBLOBs" >
    <result column="trade_id" property="tradeId" jdbcType="BIGINT" />
    <result column="oper_type" property="operType" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
	s.cust_id,s.shop_name,s.shop_logo,s.shop_site,s.busi_range,s.busi_mode,s.contant_man,
	s.email,s.qq,s.msn,s.alliwang,s.mobile,s.phone,s.area_attr,s.address,s.is_close,
	s.user_id,s.in_date,s.banner_image,s.adv_image,s.start_area,s.ship_type
  </sql>
  
  <sql id="Blob_Column_List" >
    s.shop_intro, s.reach_area
  </sql>
  
  <sql id="Update_Column_List" >
    tmp.oper_type, tmp.trade_id, tmp.info_id shop_id
  </sql>
  
  <select id="selectUpdateList" resultMap="UpdateResultMap" 
  	parameterType="com.xingfugo.business.terminal.module.QueryForm" >
    select 
    <include refid="Update_Column_List" />
    ,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
	from
	  (select max(trade_id) trade_id, info_id, oper_type 
	  from indexrecord 
	  where module_name = 'shopconfig'
	  group by info_id, oper_type) tmp left join shopconfig s on tmp.info_id = s.shop_id
    where tmp.trade_id &gt; #{tradeId,jdbcType=BIGINT} 
    order by trade_id asc limit ${limit}
  </select>
  
    <select id="selectAllList" resultMap="UpdateResultMap" 
  	parameterType="com.xingfugo.business.terminal.module.QueryForm" >
    select 
    <include refid="Update_Column_List" />
    ,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
	from
	  (select max(trade_id) trade_id, info_id, oper_type 
	  from indexrecord 
	  where module_name = 'shopconfig'
	  group by info_id, oper_type) tmp left join shopconfig s on tmp.info_id = s.shop_id
    order by trade_id asc
  </select>
</mapper>